<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>256967708793-0fth3rbpruo2a6u05vu0rk8a7qvcqj74.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.256967708793-0fth3rbpruo2a6u05vu0rk8a7qvcqj74</string>
	<key>API_KEY</key>
	<string>AIzaSyDkPEARCaA39HyU_PJV5-PZt0D57v_hpkk</string>
	<key>GCM_SENDER_ID</key>
	<string>256967708793</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.projetCdn</string>
	<key>PROJECT_ID</key>
	<string>projetintegrateurv2</string>
	<key>STORAGE_BUCKET</key>
	<string>projetintegrateurv2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:256967708793:ios:dccd072750da83378804a8</string>
</dict>
</plist>